// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-page {
  margin: 2.5%;
}

.book, .addfile {
  float: left;
  margin: 20px;
  width: 110px;
  height: 193px;
  border-radius: 2px;
  text-align: center;
  padding: 20px;
  font-family: 'Poly', serif;
  font-size: 130%;
  overflow: hidden;
  color: #F6F3EE;
  text-decoration: none;
  box-shadow: 0 0 10px 2px #A0A0A0;

  &:hover {
    box-shadow: 0 0 10px 2px #C6C1B6;
  }

}

.addfile {
  background: green;
  width: 100px;
  height: 183px;
  border: 5px solid green;

  input {
    position: relative;
    top: -177px;
    left: -20px;
    opacity: 0;
    z-index: 2;
    width: 140px;
    height: 223px;
    cursor: pointer;
  }
}